.header {
    height: 50px;
    width: calc(100% - 20px); /* 20px 是两侧的空间 */
    padding: 10px 10px 0 10px;
}

.header-title {
    float: left;
    height: 100%;
    width: calc(100% - 200px);
    text-align: center;
    line-height: 45px; /* 垂直居中 */
    color: #FFFFFF;
    font-size: 20px;
    user-select: none;
}
